[submodule "external/pigeon"]
	path = external/pigeon
	url = ssh://git@g.hz.netease.com:22222/opencurve/pigeon.git
[submodule "external/_curve"]
	path = external/_curve
	url = git@github.com:opencurve/curve.git
